<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-admin">

            <!--contents_layout 시작-->
            <div id="contents_layout" layout:fragment="content">
                <!--head 시작-->
                <div class="head">
                    <h2>사업부지</h2>
                </div>
                <!--head 끝-->
                <!--body 시작-->
                <div class="body">
                </div>
                <!--body 끝-->
                
            </div>
            <!--contents_layout 끝-->

</html>
