<!DOCTYPE html>
<html 	lang="ko"
     	xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="headFragment">
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IE에서만 -->
	    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	    <title>알써니:부동산플랫폼</title>
	    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
	    <link rel="stylesheet" type="text/css" href="/css/common.css">
	    <link rel="stylesheet" type="text/css" href="/css/layout.css">
	    <link rel="stylesheet" type="text/css" href="/css/template.css">
	    <link rel="stylesheet" type="text/css" href="/css/custom.css">

	    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
	    <script type="text/javascript" src="/js/jquery-ui.js"></script>
	    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	    <script type="text/javascript" src="/js/jquery.mask.js"></script>
	    <script type="text/javascript" src="/js/jquery.touchSlider.js"></script>
	    <script type="text/javascript" src="/js/stateScrollObj.js"></script>
	    <script type="text/javascript" src="/js/common.js"></script>
	    <script type="text/javascript" src="/js/sub.js"></script>

	    <script type="text/javascript" src="/js/common-form.js"></script>
	    <script type="text/javascript" src="/js/common-init.js"></script>
	    <script type="text/javascript" src="/js/common-map.js"></script>
	    <script type="text/javascript" src="/js/common-validation.js"></script>

		<!-- 좌표변환 라이브러리 -->
		<script type="text/javascript" src="/vendor/proj4js/proj4js-combined.min.js"></script>
		
		<!-- Chart.js 라이브러리 -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>	
	</head>

</html>
