@font-face {
  font-family: 'nts';
  font-style: normal;
  font-weight: 100;
  src: url(NotoSansKR/NotoSansKR-Thin.woff) format('woff');
}
@font-face {
  font-family: 'nts';
  font-style: normal;
  font-weight: 300;
  src: url(NotoSansKR/NotoSansKR-Light.woff) format('woff');
}
@font-face {
   font-family: 'nts';
   font-style: normal;
   font-weight: 400;
   src: url(NotoSansKR/NotoSansKR-Regular.woff) format('woff');
 }
@font-face {
   font-family: 'nts';
   font-style: normal;
   font-weight: 500;
   src: url(NotoSansKR/NotoSansKR-Medium.woff) format('woff');
 }
@font-face {
   font-family: 'nts';
   font-style: normal;
   font-weight: 700;
   src: url(NotoSansKR/NotoSansKR-Bold.woff) format('woff');
 }
@font-face {
   font-family: 'nts';
   font-style: normal;
   font-weight: 900;
   src: url(NotoSansKR/NotoSansKR-Black.woff) format('woff');
 }