			        <!-- 레이어팝업 lp_a10 시작 -->
			        <div id="lp_a10" class="lp_wrap">
			            <div class="head">
			                <h2>연결 중개사 목록</h2>
			            </div>
			            <div class="body">
			                <div class="bbsList">
			                    <p>총 15건 열람</p>
			                    <table>
			                        <colgroup>
			                            <col />
			                            <col />
			                        </colgroup>
			                        <tbody>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                            <tr>
			                                <td>공인중개사명</td>
			                                <td>2021-04-30</td>
			                            </tr>
			                        </tbody>
			                    </table>
			                </div>
			                <div class="bbsPaging">
			                    <ul>
			                        <li class="first"><a href="#">처음</a></li>
			                        <li class="prev"><a href="#">이전</a></li>
			                        <li class="on"><a href="#">1</a></li>
			                        <li><a href="#">2</a></li>
			                        <li><a href="#">3</a></li>
			                        <li><a href="#">4</a></li>
			                        <li><a href="#">5</a></li>
			                        <li class="next"><a href="#">다음</a></li>
			                        <li class="end"><a href="#">끝</a></li>
			                    </ul>
			                </div>
			                
			                <div class="btn">
			                    <a class="type2 lp_close" href="#">확인</a>
			                </div>
			            </div>
			            <a class="lp_close" href="#">닫기</a>
			        </div>
			        <!-- 레이어팝업 lp_a10 끝 -->
