<!DOCTYPE HTML>
<html lang="ko">
<head>
	<th:block th:replace="layout/fragments/front/head :: headFragment"></th:block>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6EHV3KH3XT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6EHV3KH3XT');
</script>
</head>
<body>
    <!--top_layout-->
    <div id="top_layout" class="type2">
		<th:block th:replace="layout/fragments/front/header :: headerFragment"></th:block>
    </div>
    <!--//top_layout-->
    <!--gis_layout-->
    <div id="gis_layout">
        <!--gis_wrap-->
        <div class="gis_wrap">
            <div class="location">
                <ul>
                    <li>서울시</li>
                    <li>용산구</li>
                    <li>남영동</li>
                </ul>
            </div>
            <div class="gis">
                GIS
            </div>
        </div>
        <!--//gis_wrap-->
        <!--left_wrap-->
        <div class="left_wrap">
            <div class="headBox">
                <div class="banner_wrap">
                    <a class="thumb" href="#">
                        <img src="/img/sub/visual_img_2.png" />
                    </a>
                </div>
                <!--로그인시 노출-->
                <div class="tab_wrap type2">
                    <ul>
                        <li><a href="#">전체 매물</a></li>
                        <li class="on"><a href="#">등록 매물</a></li>
                        <li><a href="#">아이템 구매</a></li>
                        <li><a href="#">포인트 & 관리</a></li>
                    </ul>
                </div>
                <!--//로그인시 노출-->
            </div>
            <div class="tabCon_wrap tab1">
                <h2>원룸ㆍ투룸 <span><em>25</em>건 매물</span></h2>
                <ul class="list">
                    <li class="ad">
                        <a class="menu" href="#">
                            <span class="thumb">
                                <img src="/img/sub/visual_img_2.png" />
                            </span>
                            <span class="info">
                                <span class="won">
                                    <em>매매</em>
                                    9억 4000만원
                                </span>
                                <span class="txt">아늑하고 넓은 투룸 ~</span>
                                <span class="address">전남 여수시 미평동 | 아파트매매</span>
                                <span class="detail">34.6m2(11평) | 34.6m2(11평)</span>
                            </span>
                        </a>
                        <div class="util">
                            <a href="#">메뉴열기</a>
                            <div class="util_list">
                                <a href="#">광고설정</a>
                                <a href="#">노출/비노출</a>
                                <a href="#">편집</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="menu" href="#">
                            <span class="thumb">
                                <img src="/img/sub/visual_img_1.png" />
                            </span>
                            <span class="info">
                                <span class="won">
                                    <em>매매</em>
                                    9억 4000만원
                                </span>
                                <span class="txt">아늑하고 넓은 투룸 ~</span>
                                <span class="address">전남 여수시 미평동 | 아파트매매</span>
                                <span class="detail">34.6m2(11평) | 34.6m2(11평)</span>
                            </span>
                        </a>
                        <div class="util">
                            <a href="#">메뉴열기</a>
                            <div class="util_list">
                                <a href="#">광고설정</a>
                                <a href="#">노출/비노출</a>
                                <a href="#">편집</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="menu" href="#">
                            <span class="thumb">
                                <img src="/img/sub/visual_img_1.png" />
                            </span>
                            <span class="info">
                                <span class="won">
                                    <em>매매</em>
                                    9억 4000만원
                                </span>
                                <span class="txt">아늑하고 넓은 투룸 ~</span>
                                <span class="address">전남 여수시 미평동 | 아파트매매</span>
                                <span class="detail">34.6m2(11평) | 34.6m2(11평)</span>
                            </span>
                        </a>
                        <div class="util">
                            <a href="#">메뉴열기</a>
                            <div class="util_list">
                                <a href="#">광고설정</a>
                                <a href="#">노출/비노출</a>
                                <a href="#">편집</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="menu" href="#">
                            <span class="thumb">
                                <img src="/img/sub/visual_img_1.png" />
                            </span>
                            <span class="info">
                                <span class="won">
                                    <em>매매</em>
                                    9억 4000만원
                                </span>
                                <span class="txt">아늑하고 넓은 투룸 ~</span>
                                <span class="address">전남 여수시 미평동 | 아파트매매</span>
                                <span class="detail">34.6m2(11평) | 34.6m2(11평)</span>
                            </span>
                        </a>
                        <div class="util">
                            <a href="#">메뉴열기</a>
                            <div class="util_list">
                                <a href="#">광고설정</a>
                                <a href="#">노출/비노출</a>
                                <a href="#">편집</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="menu" href="#">
                            <span class="thumb">
                                <img src="/img/sub/visual_img_1.png" />
                            </span>
                            <span class="info">
                                <span class="won">
                                    <em>매매</em>
                                    9억 4000만원
                                </span>
                                <span class="txt">아늑하고 넓은 투룸 ~</span>
                                <span class="address">전남 여수시 미평동 | 아파트매매</span>
                                <span class="detail">34.6m2(11평) | 34.6m2(11평)</span>
                            </span>
                        </a>
                        <div class="util">
                            <a href="#">메뉴열기</a>
                            <div class="util_list">
                                <a href="#">광고설정</a>
                                <a href="#">노출/비노출</a>
                                <a href="#">편집</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="paging">
                    <li class="prev"><a href="#">이전</a></li>
                    <li class="num on"><a href="#">1</a></li>
                    <li class="num"><a href="#">2</a></li>
                    <li class="num"><a href="#">3</a></li>
                    <li class="num"><a href="#">4</a></li>
                    <li class="next"><a href="#">다음</a></li>
                </ul>
            </div>
        </div>
        <!--//left_wrap-->
        <!--filter_wrap-->
        <div class="filter_wrap on">
            <a href="#">원룸ㆍ투룸+</a>
            <div class="filterBox">
                <div class="checkBox">
                    <div class="txtRadio">
                        <input id="filter_ck_1" type="checkbox">
                        <label for="filter_ck_1">원룸</label>
                    </div>
                    <div class="txtRadio">
                        <input id="filter_ck_2" type="checkbox">
                        <label for="filter_ck_2">투룸</label>
                    </div>
                    <div class="txtRadio">
                        <input id="filter_ck_3" type="checkbox">
                        <label for="filter_ck_3">쓰리룸 +</label>
                    </div>
                    <div class="txtRadio">
                        <input id="filter_ck_4" type="checkbox">
                        <label for="filter_ck_4">매매</label>
                    </div>
                    <div class="txtRadio">
                        <input id="filter_ck_5" type="checkbox">
                        <label for="filter_ck_5">전세</label>
                    </div>
                    <div class="txtRadio">
                        <input id="filter_ck_6" type="checkbox">
                        <label for="filter_ck_6">월세</label>
                    </div>
                </div>
                <div class="input_wrap">
                    <dl>
                        <dt>매매·보증·전세금</dt>
                        <dd class="rangeBox">
                            <input type="text" placeholder="만 단위" />
                            <span>~</span>
                            <input type="text" placeholder="만 단위" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>월세</dt>
                        <dd class="rangeBox">
                            <input type="text" placeholder="만 단위" />
                            <span>~</span>
                            <input type="text" placeholder="만 단위" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>전용면적</dt>
                        <dd class="rangeBox">
                            <input type="text" placeholder="㎡ 단위" />
                            <span>~</span>
                            <input type="text" placeholder="㎡ 단위" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>준공년도</dt>
                        <dd class="rangeBox">
                            <input type="text" placeholder="년 단위" />
                            <span>~</span>
                            <input type="text" placeholder="년 단위" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>입주 시점</dt>
                        <dd class="selectBox">
                            <select>
                                <option>선택</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="btn_wrap">
                    <a href="#">매물검색</a>
                </div>
            </div>
        </div>
        <!--//filter_wrap-->
    </div>
    <!--//gis_layout-->
</body>
</html>
