        <!-- 레이어팝업 lp_02ma01p02 시작 -->
        <div id="lp_02ma01p02" class="lp_wrap type2">
            <div class="head">
                <h2>공인중개사 정보</h2>
            </div>
            <div class="body">
                <p class="usernm">-</p>
                <div class="rowBox type3">
                    <dl>
                        <dt>대표자</dt>
                        <dd class="ceoNm">-</dd>
                    </dl>
                </div>
                <div class="rowBox type4">
                    <dl>
                        <dt>소재지</dt>
                        <dd class="addr">-</dd>
                    </dl>
                    <dl>
                        <dt>대표번호</dt>
                        <dd class="phone">-</dd>
                    </dl>
                    <div class="btn">
                        <a href="#" class="type1 lp_close">확인</a>
                    </div>
                </div>
            </div>
            <a class="lp_close" href="#">닫기</a>
        </div>
        <!-- 레이어팝업 lp_02ma01p02 끝 -->
