<!DOCTYPE HTML>
<html lang="ko">
<head>
	<th:block th:replace="layout/fragments/front/head :: headFragment"></th:block>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6EHV3KH3XT"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-6EHV3KH3XT');
	</script>
	<script th:inline="javascript">
		$(document).ready(function() {
			/*
			$('a.save').click(function() {
				if( !confirm('등록하시겠습니까?') ) return;

				$.post('[(${saveUrl})]', {}, function(result) {
					alert(result.message);
					if(result.code==0) {
						location.href = '/';
					}
				}).fail(function() {
					alert('저장중 오류가 발생하였습니다.');
				})
			});
			*/
		})
	</script>
</head>
<body>
    <!--top_layout-->
    <div id="top_layout" class="type2">
		<th:block th:replace="layout/fragments/front/header :: headerFragment"></th:block>
    </div>
    <!--//top_layout-->
    <!--body_layout-->
    <div id="body_layout">
        <!--visual_wrap-->
        <div class="visual_wrap">
            <div class="inner type3">
                <h2><strong>알써니</strong> [[${pageTitle}]]</h2>
                <p>내가 등록하고 누적 포인트는 수익금으로<br>진정한 거래의 기본, 알써니!</p>
            </div>
        </div>
        <!--//visual_wrap-->
        <!--step_wrap-->
        <div class="step_wrap type2">
            <div class="inner type3">
                <dl class="end">
                    <dt>1</dt>
                    <dd>매물 기본정보</dd>
                </dl>
                <dl class="end">
                    <dt>2</dt>
                    <dd>매물 상세/옵션</dd>
                </dl>
                <dl class="end">
                    <dt>3</dt>
                    <dd>사진/개인정보</dd>
                </dl>
                <dl class="on">
                    <dt>4</dt>
                    <dd>매물 등록완료</dd>
                </dl>
            </div>
        </div>
        <!--//step_wrap-->
        <!--complete_wrap-->
        <div class="complete_wrap type2">
            <div class="inner type3">
                <p>
                    <strong>알써니 매물 <span th:text="${finalMode}" th:remove="tag">등록</span>이</strong>
                    완료되었습니다!
                </p>
                <div class="info">
                    <div class="thumb">
                        <img th:src="@{${data.firstPicturePath}}" />
                    </div>
                    <ul class="txt">
                        <li class="saleNum">매물번호<span>No. <span th:text="${data.saleNo}" th:remove="tag">N00232A9</span></span></li>
                        <li class="won"><span th:text="${data.tradeTypeNm}">매매</span> <span th:text="${data.priceWon}" th:remove="tag">3,400</span></li>
                        <li class="intro" th:utext="${data.forsaleIntro}">아늑하고 넓은 원룸 ~~</li>
                        <li class="address"><span th:text="${data.addr1}" th:remove="tag">전남 여수시 미평동</span>  |  <span th:text="${data.saleDetailTypeNm}" th:remove="tag">아파트</span><span th:text="${data.tradeTypeNm}" th:remove="tag">매매</span></li>
                        <li class="detail"><span th:text="${data.areaTypeNm}" th:remove="tag">105㎡(25평) / 50㎡(16평)</span> | <span th:text="${data.saleFloor}" th:remove="tag">3</span>/<span th:text="${data.totalFloor}" th:remove="tag">3</span>층
                        	<span th:if="${data.saleType=='r' || data.saleType=='a' || data.saleType=='h'}">| 침실 <span th:text="${data.roomType}" th:remove="tag">3</span>, 욕실 <span th:text="${data.bathroomType}" th:remove="tag">3</span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//complete_wrap-->

        <!--btn_wrap-->
        <div class="btn_wrap">
					<a href="/" class="type1">알써니 홈으로 이동</a>
<!--            <a href="/" class="type1">최종<span th:text="${editMode}" th:remove="tag">등록</span>완료</a> -->
        </div>
        <!--//btn_wrap-->
    </div>
    <!--//body_layout-->
    <!--foot_layout-->
    <div id="foot_layout">
		<th:block th:replace="layout/fragments/front/footer :: footerFragment"></th:block>
    </div>
    <!--//foot_layout-->
</body>
</html>
