<!DOCTYPE HTML>
<html lang="ko">
<head>
	<th:block th:replace="layout/fragments/front/head :: headFragment"></th:block>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6EHV3KH3XT"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-6EHV3KH3XT');
	</script>
</head>
<body>
    <!--top_layout-->
    <div id="top_layout" class="type2">
		<th:block th:replace="layout/fragments/front/header :: headerFragment"></th:block>
    </div>
    <!--//top_layout-->
    <!--body_layout-->
    <div id="body_layout">
        <!--visual_wrap-->
        <div class="visual_wrap">
            <div class="inner type4">
                <h2><strong>공인중개사</strong> 회원가입</h2>
                <p>공인중개사(임대관리사회원) 회원은<br>등록 승인을 통해 회원가입이 가능합니다.</p>
            </div>
        </div>
        <!--//visual_wrap-->
        <!--step_wrap-->
        <div class="step_wrap tyep1">
            <div class="inner type3">
                <dl class="end">
                    <dt>1</dt>
                    <dd>약관동의</dd>
                </dl>
                <dl class="end">
                    <dt>2</dt>
                    <dd>회원정보입력</dd>
                </dl>
                <dl class="on">
                    <dt>3</dt>
                    <dd>회원가입 완료</dd>
                </dl>
            </div>
        </div>
        <!--//step_wrap-->
        <!--complete_wrap-->
        <div class="complete_wrap">
            <div class="inner type2">
                <p>
                    <strong><span th:text="${data.usernm}" th:remove="tag">미소부동산 중개사무소</span><span>님</span></strong>
                    알써니 [[${data.userType=='RA'? '임대관리사':'공인중개사'}]]<br>회원가입이 완료 되었습니다.
                </p>
                <p class="type2">알써니 매니저 검토 후 승인 시 문자 전송 드립니다.</p>
            </div>
        </div>
        <!--//complete_wrap-->
        <!--btn_wrap-->
        <div class="btn_wrap">
            <a href="/" class="type2">HOME</a>
        </div>
        <!--//btn_wrap-->
    </div>
    <!--//body_layout-->
    <!--foot_layout-->
    <div id="foot_layout">
		<th:block th:replace="layout/fragments/front/footer :: footerFragment"></th:block>
    </div>
    <!--//foot_layout-->
</body>
</html>
